extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
  div(class="product-page")
    div(class="product-details")
      div(class="product-image")
        if (product.thumbnail)
          div(class="mb-4")
            img(
              src=product.thumbnail
              style="width: 200px"
            )
      div(class="product-text")
        if(product.title)
          h1(class="mb-4 product-title") #{product.title}
        if (product.price)
          div(class="mb-4 product-price") Giá: <b>#{product.price}$</b>
        if (product.discountPercentage)
          div(class="mb-4 product-discountPercentage") Giảm giá: <b>#{product.discountPercentage}%</b>
        if (product.stock)
          div(class="mb-4 product-stock") Còn lại: <b>#{product.stock}</b>
        if (product.status)
          div(class="mb-4")
            span Trạng thái:
            if (product.status === "active")
              span(class="badge badge-success") Hoạt động
            else
              span(class="badge badge-danger") Dừng hoạt động
        if (product.position)
          div(class="mb-4") Vị trí: <b>#{product.position}</b>
        if (product.description)
          div(class="mb-4") !{product.description}