extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
  if(category.title)
    h1(class="mb-4") #{category.title}

  if (category.price)
    div(class="mb-4") Giá: <b>#{category.price}$</b>

  if (category.discountPercentage)
    div(class="mb-4") Giảm giá: <b>#{category.discountPercentage}%</b>

  if (category.stock)
    div(class="mb-4") Còn lại: <b>#{category.stock}</b>

  if (category.thumbnail)
    div(class="mb-4")
      img(
        src=category.thumbnail
        style="width: 200px"
      )

  if (category.status)
    div(class="mb-4")
      span Trạng thái:
      if (category.status === "active")
        span(class="badge badge-success") Hoạt động
      else
        span(class="badge badge-danger") Dừng hoạt động

  if (category.position)
    div(class="mb-4") Vị trí: <b>#{category.position}</b>

  if (category.description)
    div(class="mb-4") !{category.description}