extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  .container.my-3
    .row
      .col-12
        +box-head("Chat")

    .row
      .col-12
        .chat(my-id=user.id)
          //- .inner-head
          //-   .inner-avatar EY
          //-   .inner-name Em Yêu
          .inner-body
            each chat in chats
              div(class=(chat.user_id == user.id ? "inner-outgoing" : "inner-incoming" ))
                if(chat.user_id != user.id)
                  .inner-name #{chat.infoUser.fullName}
                if(chat.content)
                  .inner-content
                    | #{chat.content}
                if(chat.images)
                  .inner-images
                    each image in chat.images
                      img(src=image)
            //- .inner-outgoing
            //-   .inner-content
            //-     | Thế à? Ok e iu
            //- .inner-incoming
            //-   .inner-name Em Yêu
            //-   .inner-content
            //-     | Nhanh nha nhanh nha
            //- .inner-outgoing
            //-   .inner-content
            //-     | Ck đến rồi mà thấy ai ở nhà đâu e? Khóa cửa mà :(
            //- .inner-incoming
            //-   .inner-name Em Yêu
            //-   .inner-content
            //-     | Thì em bảo nhà e không ai ở nhà mà :))
            div(class="inner-list-typing")
              //- div(class="box-typing")
              //-   div(class="inner-name") Le Van A
              //-   div(class="inner-dots")
              //-     span
              //-     span
              //-     span
              //- div(class="box-typing")
              //-   div(class="inner-name") Le Van B
              //-   div(class="inner-dots")
              //-     span
              //-     span
              //-     span
          .inner-foot
            form(
              class="inner-form"
              action=""
            )
              input(
                type="text"
                placeholder="Nhập nội dung..."
                name="content"
              )
              div(class="custom-file-container" data-upload-id="upload-images")
              span(class="button-icon btn btn-light mx-2")
                <i class="fa-regular fa-face-smile"></i>
              button
                i.fa-solid.fa-paper-plane

  div(class="tooltip" role="tooltip")
    emoji-picker(class='light')